<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <title>404 Not Found</title>
    <style type="text/css">
    /* Taken from http://worrydream.com/404notfound */
    * { margin: 0; padding: 0; }
    
    body {
      background-color: #000;
      background-image: url(http://worrydream.com/media/404_background.jpg);
      width: 800px;
      height: 600px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .text {
      display:none;
    }

</style>
</head>
<body>

<div class="text">404 Not Found</div>

<img src="./img/404.jpg" alt="404 Not Found" height="600" width="800">
</body></html>